# Abaikan semua file dari statistik bahasa (dianggap sebagai file eksternal/vendor)
* linguist-vendored

# Kecuali file PHP, masukkan kembali ke statistik
*.php linguist-vendored=false

# Paksa file Blade agar dihitung sebagai PHP
*.blade.php linguist-language=PHP linguist-vendored=false
