@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
}

@utility scrollbar-minimal {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.5);
        border-radius: 20px;
        border: 3px solid transparent;
        background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(107, 114, 128, 0.8);
    }
}

@layer base {
    [x-cloak] {
        display: none !important;
    }

    body {
        font-family: var(--font-sans);
    }
}

@layer components {
    .sidebar {
        @apply w-80 min-w-80 max-w-80 overflow-y-auto bg-[#255F38] transition-all duration-300 ease-in-out;
        scrollbar-width: none;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .sidebar.closed {
        @apply !w-16 !min-w-16 !max-w-16;
    }

    .sidebar.closed .sidebar-label,
    .sidebar.closed .navbar-brand {
        @apply opacity-0 pointer-events-none;
    }

    .arrow-icon {
        @apply transition-transform duration-300 ease-in-out;
    }
}
