    /* Pengaturan gambar */
    .banner-images {
        max-width: 50% !important; /* Membatasi ukuran maksimal gambar */
        height: auto;
        object-fit: cover;
        margin-top: 0; /* Menghapus margin atas */
    }

    /* Pengaturan teks default untuk laptop */
    .text-sections {
        text-align: center;
        padding-top: 0; /* Menghapus padding atas */
        margin-top: 0; /* Menghapus margin atas */
    }

    /* Custom button styling */
    .custom-btn {
        font-size: 14px;
        padding: 10px 20px;
        background-color: #00e676;
        color: white;
        border: none;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .custom-btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background: rgba(255, 255, 255, 0.3);
        transition: all 0.75s ease;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 1;
    }

    .custom-btn:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

    .custom-btn:hover {
        background-color: #00c853;
        color: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 200, 83, 0.4);
        transform: translateY(-3px);
    }

    /* Responsif untuk layar mobile dan tablet */
    @media (max-width: 768px) {
        .row {
            flex-direction: column;
        }

        .banner-image {
            max-width: 100%;
            margin-top: 0;
        }

        .text-section {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }
    }

    /* Responsif untuk layar monitor yang lebih besar */
    @media (min-width: 1600px) {
        .banner-image {
            max-width: 90%; /* Pastikan tidak terlalu besar di layar besar */
            transform: scale(1); /* Kurangi skala */
        }

        .text-section {
            padding-left: 50px; /* Kurangi padding kiri */
            padding-top: 0;
        }
    }